<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/depot/new">Créer dépôt</a></li>
                <li><a href="#/depot/gestion">Gérer dépôt</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="well well-lg col-md-8 col-sm-6 col-xs-6">
    <form class="col-md-12">
        <div class="form-group col-md-10">
            <label class="col-md-4">Identifiant : </label>
            <input class="col-md-8" type="text" placeholder="Identifiant déposant" required/>
        </div>
        <input type="submit" class="col-md-2 btn btn-sm btn-info" value="Valider"/>
    </form>
</div>